.scroll{
    position: fixed;
    right: 2.5rem;
    bottom: -20%;
    background-color: var(--text-color);
    padding: 0.3rem 0.5rem;
    opacity: 0.8;
    border-radius: 0.4rem;
    transition: .2s;
}
.scroll_icon{
    font-size: 1.8rem;
    color: var(--bg-color);
}
.scroll:hover{
    opacity: 1;
}
.show_scroll{
    bottom: 3rem;
}
